body {
    text-align: center;
    background-color: #041C32;
}

#level-title {
    color: #ECDBBA;
    margin-top: 100px;
    font-family: 'Press Start 2P';
    text-align: center;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    display: inline-block;
    margin: 25px;
    background-color: white;
    border: 10px solid black;
    border-radius: 20%;
    width: 200px;
    height: 200px;
}

.game-over {
    background-color: white;
    opacity: 0.7;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.press {
    box-shadow: 0 0 20px white;
}